# Dependencies
node_modules/
jspm_packages/
web_modules/

# Production/Build
dist/
build/
out/

# Misc
.DS_Store
*.pem
*.log

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
